@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");
.about {
  scroll-snap-align: start;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr 1rem)[12];
      grid-template-columns: repeat(12, 1fr 1rem);
  -ms-grid-rows: 2rem (1fr 1rem)[5] 1fr;
      grid-template-rows: 2rem repeat(5, 1fr 1rem) 1fr;
}

.about .left {
  background-color: #f1faee;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / span 12;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr 1rem)[6];
      grid-template-columns: repeat(6, 1fr 1rem);
  -ms-grid-rows: 2rem (1fr 2rem)[6];
      grid-template-rows: 2rem repeat(6, 1fr 2rem);
  -ms-grid-rows: 1rem (1fr 2rem)[6];
      grid-template-rows: 1rem repeat(6, 1fr 2rem);
}

.about .left .logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  font-size: 5rem;
  -ms-grid-column-align: end;
      justify-self: end;
  font-family: "Dancing Script", cursive;
  color: #e63946;
}

.about .left .greeting {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / span 6;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / span 2;
  font-size: 5rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  margin-right: 1rem;
}

.about .left .greeting .julian {
  display: inline;
  color: #457b9d;
}

.about .left .description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2 / span 8;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / span 1;
  font-size: 2rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-family: "Open Sans", sans-serif;
  padding-top: 4rem;
  text-align: right;
}

.about .left .contact {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7 / span 3;
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9 / span 2;
  font-size: 2rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: "Open Sans", sans-serif;
  padding-top: 0.75rem;
  margin-left: 2rem;
}

.about .left .contact a {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  background-color: #e63946;
  color: #f1faee;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about .left .contact a:hover {
  color: #f1faee;
  background-color: #457b9d;
}

.about .left .contact a:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.about .right {
  -ms-grid-column: 13;
  -ms-grid-column-span: 12;
  grid-column: 13 / span 12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / span 12;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr 1rem)[6];
      grid-template-columns: repeat(6, 1fr 1rem);
  -ms-grid-rows: 2rem (1fr 2rem)[6];
      grid-template-rows: 2rem repeat(6, 1fr 2rem);
  -ms-grid-rows: 1rem (1fr 2rem)[6];
      grid-template-rows: 1rem repeat(6, 1fr 2rem);
  background-color: #1d3557;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./Julian.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Julian.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.about .right a {
  color: #f1faee;
  text-decoration: none;
}

.about .right .navBarContainer .linkContainer {
  border-left: 0.125rem solid #f1faee;
}

.about .right .navBarContainer .linkContainer .link {
  height: 2em;
}
/*# sourceMappingURL=About.css.map */