@import "../Constants.scss";

.about {
  // background-color: rgb(39, 39, 39);
  scroll-snap-align: start;
  @include sectionLayout();
  .left {
    background-color: $white;
    @include leftLayout();
    grid-template-rows: 1rem repeat(6, 1fr 2rem);
    .logo {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
      font-size: 5rem;
      justify-self: end;
      font-family: "Dancing Script", cursive;
      color: $red;
    }
    .greeting {
      grid-column: 2 / span 6;
      grid-row: 4 / span 2;
      font-size: 5rem;
      align-self: end;
      text-align: right;
      font-family: "Open Sans", sans-serif;
      margin-right: 1rem;
      .julian {
        display: inline;
        color: $blue;
      }
    }
    .description {
      grid-column: 2 / span 8;
      grid-row: 6 / span 1;
      font-size: 2rem;
      align-self: end;
      font-family: "Open Sans", sans-serif;
      padding-top: 4rem;
      text-align: right;
    }
    .contact {
      grid-column: 7 / span 3;
      grid-row: 9 / span 2;
      font-size: 2rem;
      align-self: start;
      font-family: "Open Sans", sans-serif;
      padding-top: 0.75rem;
      margin-left: 2rem;
      
      a {
        text-decoration: none;
        padding: 0.75rem 1.5rem;
        // border-radius: 6px;
        background-color: $red;
        color: $white;
        border: none;
        &:hover {
          color: $white;
          background-color: $blue;
        }
        @include hoverable();
      }
    }
  }
  .right {
    @include rightLayout();
    grid-template-rows: 1rem repeat(6, 1fr 2rem);
    background-color: $darkBlue;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./Julian.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    .navBarContainer {
 
      
      .linkContainer {
        border-left: 0.125rem solid $white;
       
        .link {
          height: 2em;
        }
      }
    }
  }
}
