// font-family: "Open Sans", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
// font-family: "Dancing Script", cursive;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");

$white: #f1faee;
$red: #e63946;
$lightBlue: #a8dadc;
$blue: #457b9d;
$darkBlue: #1d3557;

@mixin leftLayout {
  grid-column: 1 / span 12;
  grid-row: 1 / span 12;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr 1rem);
  grid-template-rows: 2rem repeat(6, 1fr 2rem);
}
@mixin rightLayout {
  grid-column: 13 / span 12;
  grid-row: 1 / span 12;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr 1rem);
  grid-template-rows: 2rem repeat(6, 1fr 2rem);
  a {
    color: $white;
    text-decoration: none;
  }
}

@mixin sectionLayout {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr 1rem);
  grid-template-rows: 2rem repeat(5, 1fr 1rem) 1fr;
}

@mixin divider {
  width: 1rem;
  background-color: $blue;
}

@mixin hoverable {
    transition: 0.3s;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}