@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
.navBarContainer {
  font-family: "Roboto", sans-serif;
  display: flex;
  font-size: 16px;
  grid-column: 4 / span 6;
  grid-row: 2 / span 1;
  align-items: center;

  .linkContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr 1rem);
    grid-template-rows: 100%;
    width: 100%;
    height: 50%;
    a {
      text-decoration: none;
      color: black;
      font-size: 1.75em;
      font-family: 'Open Sans', sans-serif;
    }
    
    .aboutLink {
        grid-column: 1 /span 2;
        justify-self: end;
        align-self: center;

    }
    .projectsLink{
        grid-column: 3 /span 2;
        justify-self: end;
        align-self: center;
        
    }
    .contactLink {
        grid-column: 5 /span 2;
        justify-self: end;
        align-self: center;
        
        
    }

  }
}
