@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");
.contactSection {
  background-color: #f1faee;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2rem (1fr 1rem)[12];
      grid-template-columns: 2rem repeat(12, 1fr 1rem);
  -ms-grid-rows: (1fr 1rem)[6];
      grid-template-rows: repeat(6, 1fr 1rem);
  scroll-snap-align: start;
}

.contactSection .navBarContainer {
  -ms-grid-column: 17;
  -ms-grid-column-span: 6;
  grid-column: 17 / span 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  background-color: #f1faee;
  border-top: 0.125rem solid #1d3557;
  margin-bottom: 2px;
}

.contactSection .navBarContainer .linkContainer .link a {
  color: black;
}

.contactSection .backdrop {
  background-color: #e63946;
  -ms-grid-row: 3;
  -ms-grid-row-span: 7;
  grid-row: 3 / span 7;
  -ms-grid-column: 4;
  -ms-grid-column-span: 19;
  grid-column: 4 / span 19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactSection .backdrop .containerLinks {
  background-color: white;
  height: 100%;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactSection .backdrop .containerLinks .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contactSection .backdrop .containerLinks .links a {
  text-decoration: none;
  -webkit-text-emphasis: none;
          text-emphasis: none;
  width: 50%;
  padding: 1rem 0;
  margin: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contactSection .backdrop .containerLinks .links a:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.contactSection .backdrop .containerLinks .links .github {
  background-color: #242323;
  color: white;
}

.contactSection .backdrop .containerLinks .links .linkedin {
  background-color: #457b9d;
  color: white;
}

.contactSection .backdrop .containerLinks .links .instagram {
  background-color: #c13584;
  color: white;
}

.contactSection .backdrop .divider {
  height: 100%;
  width: 1rem;
  background-color: #457b9d;
}

.contactSection .backdrop .formContainer {
  display: -ms-grid;
  display: grid;
  background-color: #1d3557;
  width: 66%;
  -ms-grid-columns: (1fr 1rem)[12];
      grid-template-columns: repeat(12, 1fr 1rem);
  -ms-grid-rows: (1fr 1rem)[6];
      grid-template-rows: repeat(6, 1fr 1rem);
}

.contactSection .backdrop .formContainer .questions {
  -ms-grid-column: 3;
  -ms-grid-column-span: 20;
  grid-column: 3 / span 20;
  -ms-grid-row: 3;
  -ms-grid-row-span: 8;
  grid-row: 3 / span 8;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactSection .backdrop .formContainer .questions .inputContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contactSection .backdrop .formContainer .questions .inputContainer input {
  width: 50%;
}

.contactSection .backdrop .formContainer .questions .inputContainer textarea {
  width: 50%;
}

.contactSection .backdrop .formContainer .questions .inputContainer .emailInput {
  padding: 12px 20px;
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  margin-top: 1rem;
}

.contactSection .backdrop .formContainer .questions .inputContainer .messageInput {
  font-size: 1.25rem;
  padding: 12px 20px;
  font-family: "Open Sans", sans-serif;
  height: 33%;
}

.contactSection .backdrop .formContainer .questions .inputContainer button {
  background-color: #e63946;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contactSection .backdrop .formContainer .questions .inputContainer button:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=Contact.css.map */