@import "../Constants.scss";

.contactSection {
  background-color: $white;
  height: 100vh;
  display: grid;
  grid-template-columns: 2rem repeat(12, 1fr 1rem);
  grid-template-rows: repeat(6, 1fr 1rem);
  scroll-snap-align: start;
  .navBarContainer {
    grid-column: 17 / span 6;
    grid-row: 1 / span 1;
    background-color: $white;
    border-top: .125rem solid $darkBlue;
    margin-bottom: 2px;
    // margin-top: 2px;
    .linkContainer {
      .link {
        a {
          color: black;
        }
      }
    }
  }
  .backdrop {
    background-color: $red;
    grid-row: 3 / span 7;
    grid-column: 4 / span 19;
    display: flex;
    .containerLinks {
      background-color: white;
      height: 100%;
      width: 33%;
      display: flex;
      justify-content: center;
      align-items: center;
      .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        a {
          text-decoration: none;
          text-emphasis: none;
          width: 50%;
          padding: 1rem 0;
          margin: 1rem 0;
          font-size: 1.5rem;
          text-align: center;
          @include hoverable();
        }
        .github {
          background-color: rgb(36, 35, 35);
          color: white;
        }
        .linkedin {
          background-color: $blue;
          color: white;
        }
        .instagram {
          background-color: #c13584;
          color: white;
        }
      }
    }

    .divider {
      height: 100%;
      @include divider();
    }
    .formContainer {
      display: grid;
      background-color: $darkBlue;
      width: 66%;
      grid-template-columns: repeat(12, 1fr 1rem);
      grid-template-rows: repeat(6, 1fr 1rem);
      .questions {
        grid-column: 3 / span 20;
        grid-row: 3 / span 8;
        background-color: white;
        display: flex;
        justify-content: center;
        .inputContainer {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          input {
            width: 50%;
          }
          textarea {
            width: 50%;
          }
          .emailInput {
            padding: 12px 20px;
            font-size: 1.25rem;
            font-family: "Open Sans", sans-serif;
            margin-top: 1rem;
          }
          .messageInput {
            font-size: 1.25rem;
            padding: 12px 20px;
            font-family: "Open Sans", sans-serif;
            height: 33%;
          }
          button {
            background-color: $red;
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            @include hoverable();
          }
        }
      }
    }
  }
}
